[Interface]
PrivateKey = <NODE1_PRIVATE_KEY>
Address = 10.100.0.1/24
ListenPort = 51820
# Prevent wg-quick from trying to auto-add conflicting k8s routes:
Table = off
MTU = 1420
# Add custom PostUp/PostDown rules so routes are replaced cleanly:
PostUp = ip route replace 10.32.4.0/24 dev wg0
PostUp = iptables -A FORWARD -i wg0 -j ACCEPT; iptables -A FORWARD -o wg0 -j ACCEPT; iptables -t nat -A POSTROUTING -o enp0s3 -j MASQUERADE
PostDown = ip route del 10.32.4.0/24 dev wg0 || true
PostDown = iptables -D FORWARD -i wg0 -j ACCEPT; iptables -D FORWARD -o wg0 -j ACCEPT; iptables -t nat -D POSTROUTING -o enp0s3 -j MASQUERADE

[Peer]
# Fedora Home Desktop
PublicKey = xYhJkx6GnMJlA0BPhU7PdCUgKX7X9G43hd41ctjtg1I=
AllowedIPs = 10.100.0.2/32, 10.32.4.0/24, 192.168.0.0/24

